.SearchContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin:20px 40px 20px 40px;
}
.leftNav{
    width:30%;
    cursor: pointer;
    overflow-y: scroll;
    height: 100vh;
}
.filterComponent{
    position: absolute;
    right:0;
    z-index: 100;
}

.leftNav::-webkit-scrollbar {
    width: 0em; 
  }
