/* nav.module.css */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  }
  
  .brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .browse{
    color:#6938EF;
  }

  .menu {
    display: flex;
  }
  
  .menuItem {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-right: 15px;
  }
  
  .menuItem img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  
  .menuItem div {
    font-size: 16px;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }
  
  .bellIcon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .NavImg{
    width:50px;
    height:50px;
  }
  